{% extends 'base.html.twig' %}

{% block title %}{{ manga.title }}{% endblock %}

{% block body %}
    <div class="manga-header">
        <h1>{{ manga.title }}</h1>
        <div class="action-buttons">
            <a href="{{ path('app_manga_index') }}" class="btn btn-secondary">Back to list</a>
            <a href="{{ path('app_manga_edit', {'id': manga.id}) }}" class="btn btn-primary">Edit</a>
            {{ include('manga/_delete_form.html.twig') }}
        </div>
    </div>

    <div class="manga-detail">
        <div class="manga-info">
            <div class="manga-info-header">
                <h2>Manga Details</h2>
            </div>
            <div class="manga-info-body">
                <div class="manga-info-item">
                    <div class="manga-info-label">ID</div>
                    <div class="manga-info-value">{{ manga.id }}</div>
                </div>
                <div class="manga-info-item">
                    <div class="manga-info-label">Title</div>
                    <div class="manga-info-value">{{ manga.title }}</div>
                </div>
                <div class="manga-info-item">
                    <div class="manga-info-label">Price</div>
                    <div class="manga-info-value text-primary">{{ manga.price }} €</div>
                </div>
                <div class="manga-info-item">
                    <div class="manga-info-label">Category</div>
                    <div class="manga-info-value"><span class="manga-category">{{ manga.category.label }}</span></div>
                </div>
                <div class="manga-info-item">
                    <div class="manga-info-label">Tags</div>
                    <div class="manga-info-value">
                        <div class="manga-tags">
                            {% if manga.tags|length > 0 %}
                                {% for tag in manga.tags %}
                                    <span class="tag">{{ tag.name }}</span>
                                {% endfor %}
                            {% else %}
                                <em>No tags</em>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="manga-info-item">
                    <div class="manga-info-label">Created At</div>
                    <div class="manga-info-value">{{ manga.createdAt ? manga.createdAt|date('Y-m-d') : '' }}</div>
                </div>
                <div class="manga-info-item">
                    <div class="manga-info-label">Last Updated</div>
                    <div class="manga-info-value">{{ manga.updateAt ? manga.updateAt|date('Y-m-d H:i:s') : '' }}</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}